---
const { info } = Astro.props;
const { theme = {} } = info;
const { isDarkModeOnly = true } = theme;

const textColorClass = isDarkModeOnly ? 'text-orange-50' : 'text-black dark:text-orange-50';
const hoverTextColorClass = isDarkModeOnly ? 'hover:text-[#ffdd99]' : 'hover:text-orange-900 dark:hover:text-[#ffdd99]';
const linkTextColorClass = isDarkModeOnly ? 'text-white/90' : 'text-black/90 dark:text-white/90';
---

<div
  class="hidden sm:flex sm:flex-col absolute left-2 bottom-2 px-4 py-1 font-Krypton"
>
  <p class={`${textColorClass} effect mx-auto text-base capitalize`}>
    <span>{"{"}</span> 101 {info.title.length >= 16 ? "proyectos JS" : ""}
    <span>{"}"}</span>
  </p>

  <h2 class="text-orange-400 text-base tracking-tighter mx-auto">
    {`#${info.number}> ${info.title}`}
  </h2>

  <a
    class={`text-xs hover:underline text-center ${linkTextColorClass} mx-auto ${hoverTextColorClass} transition-colors`}
    href="/">← Volver</a
  >
</div>

<style>
  .effect {
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
    span {
      text-shadow: none;
      color: transparent;
      -webkit-text-stroke-color: var(--accent-700);
      -webkit-text-stroke-width: 1px;
    }
  }
</style>
