---
import { Image } from "astro:assets";

import { type Project } from "@/types/Project";

import GitHubIcon from "@/icons/GitHubIcon.astro";
import MobileIcon from "@/icons/MobileIcon.astro";
import PCIcon from "@/icons/PCIcon.astro";
import WorldIcon from "@/icons/WorldIcon.astro";

interface Props {
  project: Project;
  number: string | number;
  loading?: "eager" | "lazy";
}

const { project, number, loading } = Astro.props;
const { slug, title, description, compatibility, thumbnailSrc } = project;

const GitHubURL =
  "https://github.com/CrashLanXD/101-proyectos-javascript/tree/master/public/projects";
const projectURL = `/the-vault/${slug}`;
---

<article class="relative flex flex-col items-center max-w-96 mx-auto">
  <a href={projectURL} class="group transition">
    <span
      class:list={[
        "absolute top-2 left-2 transition-all",
        "opacity-80 text-2xl font-bold font-krypton text-white mix-blend-difference",
        "group-hover:scale-[1.7] group-hover:top-4 group-hover:left-6 group-hover:opacity-100",
      ]}>{`[${number}]`}</span
    >
    <Image
      src={thumbnailSrc || `/projects/thumbnails/${number}.webp`}
      alt={`proyecto ${number} '${title}'`}
      width={300}
      height={200}
      loading={loading ?? "eager"}
      class:list={[
        "w-full overflow-hidden object-cover aspect-[3/2] transition-all rounded-2xl",
        "grid place-items-center text-center text-2xl",
        "group-hover:rounded-none",
      ]}
    />
  </a>

  <div class="size-full px-3 py-2 flex flex-col justify-between">
    <div>
      <h3 class="leading-loose font-bold text-balance text-3xl md:text-4xl">
        {title}
      </h3>
      <p class="text-pretty text-base">{description}</p>
    </div>

    <div class="mt-5 mb-3 flex justify-between">
      <div class="flex justify-between max-w-fit gap-2">
        <a
          class:list={[
            "w-full inline-flex items-center justify-center px-3 py-2 text-sm border rounded-md",
            "bg-r-orange text-[#121212] border-transparent hover:bg-r-yellow hover:text-dark",
            "dark:text-amber-400 dark:bg-black/60 dark:border-orange-700",
            "hover:brightness-110 hover:scale-105 transition-all"
          ]}
          href={projectURL}><WorldIcon class="size-5 mr-1" /> Visitar</a
        >
        <a
          class:list={[
            "w-full inline-flex items-center justify-center px-3 py-2 text-sm border rounded-md",
            "bg-white/10 border-black/20",
            "dark:bg-black/60 dark:border-white/10",
            "hover:brightness-110 hover:scale-105 transition-all"
          ]}
          href={`${GitHubURL}/${slug}`}
          target="_blank"
          rel="noopener noreferrer"><GitHubIcon class="size-5 mr-1" /> Código</a
        >
      </div>

      <div class="flex items-center justify-between max-w-fit gap-4">
        <span
          class={`${compatibility.pc ? "text-green-500" : "text-red-500"}`}
          title={`${compatibility.pc ? "Compatible" : "No compatible"} con PC`}
          ><PCIcon class="size-6"></span
        >
        <div class="h-full w-[0.080rem] bg-gradient-to-b from-transparent via-dark/50 to-transparent dark:via-white/50" />
        <span
          class={`${compatibility.mobile ? "text-green-500" : "text-red-500"}`}
          title={`${compatibility.mobile ? "Compatible" : "No compatible"} con móvil`}
          ><MobileIcon class="size-6"></span
        >
      </div>
    </div>
  </div>
</article>
