---
interface Props {
  title: string;
}

const { title } = Astro.props;
const description =
  "Explora una colección de 101 proyectos en JavaScript, desde simulaciones hasta juegos y algoritmos, diseñados para experimentar con diferentes conceptos de programación.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content="Eduardo Sanchez Hernandez" />
    <meta
      name="keywords"
      content="javascript, js, programming, programacion, desarrollo web, algoritmos, HTML, CSS, proyectos de código abierto, aprendizaje interactivo, frontend, backend, simulaciones, juegos en JavaScript, desarrollo web moderno, práctica de programación, desarrollo de aplicaciones, ejercicios de programación, JavaScript avanzado"
    />
    <meta name="theme-color" content="#F9EF1C" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@CrashLanXD" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  @font-face {
    font-family: "Argon";
    src: url("/fonts/MonaspaceArgon-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Krypton";
    src: url("/fonts/MonaspaceKrypton-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Neon";
    src: url("/fonts/MonaspaceNeon-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Radon";
    src: url("/fonts/MonaspaceRadon-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Xenon";
    src: url("/fonts/MonaspaceXenon-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  html {
    font-family: system-ui, sans-serif;
    background: rgb(24, 24, 27);
  }
  code {
    font-family:
      "Argon",
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .font-Argon {
    font-family: "Argon";
  }
  .font-Krypton {
    font-family: "Krypton";
  }
  .font-Neon {
    font-family: "Neon";
  }
  .font-Xenon {
    font-family: "Xenon";
  }
  .font-Radon {
    font-family: "Radon";
  }
</style>
